
entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["libGL", "libGLU", "libvlc", "qt6.full", "xorg.libX11", "xorg.libXrender", "xorg.libxkbcommon"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows]

[[workflows.workflow]]
name = "Run"
author = 41799911
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main.py"
