
entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = [
    "libGL",
    "libGLU", 
    "libvlc",
    "qt6.full",
    "xorg.libX11",
    "xorg.libXrender",
    "xorg.libxkbcommon",
    "xorg.libXext",
    "xorg.libXft",
    "xorg.libXinerama",
    "xorg.libXrandr",
    "xorg.libXcursor",
    "xorg.libXi",
    "xorg.libXcomposite"
]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[workflows.Run]
commands = ["python3 main.py"]
